*{
    background-color: lightgrey;
}

.divbox{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 3px white solid;
    width: 30%;
}


.name{

   
    font-size: 50px;
    font-style: italic;
    color: gray;
    font-family: 'Nanum Gothic', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
    border: 3px darkgray solid;
    padding: 10px;
}


#input{
    outline: none;
    border: none;
   height: 50px;
   font-size: 20px;
   font-family: 'Nanum Gothic', sans-serif;
   font-family: 'Source Sans Pro', sans-serif;

}

#button{
    height: 60px;
    width: 100px;
    outline: none;
    border: none;
    font-size: 25px;
    background-color: darkgrey;
    font-family: 'Nanum Gothic', sans-serif;
   font-family: 'Source Sans Pro', sans-serif;

}